html {
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
h1{
    color: black;
    text-align: center;
}
h2 {
    color: darkslategrey;
}
p{
    color: black;
    font-size: 1em;
    text-align: justify;
    }
#center{
    text-align: center;
}
.endereco{
    color:red;
}
video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
  }
#const{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40px;
}
#Bars li{
    list-style: none;
    display: inline-block;
}
.test{
    background-color: rgb(169, 255, 135);
    font-weight: 600;
    height:50px;
    width:100px;
    border-radius: 8px;
    transition: 400ms;
    border: 0;
}
.test:hover{ /* quando passa o mouse em cima, a cor do botão muda! */
    background-color: rgb(199, 255, 177);
}
video{
    border-radius: 8px;
}